@model IEnumerable<SDS.SDSRequest.Models.FormulaImportRequestListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Formula Import Requests</h2>
@section Scripts
{
    <script>
        $(function () {
            //alert("All good");  this will alwayd display
        });
    </script>
}
<p>
    <!-- @Html.ActionLink("Create New", "Create") -->
    <a href="~/pages/pass_comp_req.aspx">Create New Formula Import Request</a>
</p>
<table class="table" style="overflow:auto" width="1000">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceSystem)
        </th>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.RequestedParts)
        </th>
        -->
        <th>
            @Html.DisplayNameFor(model => model.RequestStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceSystem)
            </td>
            <!--
            <td width="100" style="overflow:auto">
                @Html.DisplayFor(modelItem => item.RequestedParts)
            </td>
             -->
            <td>
                @Html.DisplayFor(modelItem => item.RequestStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.ActionLink("View Request Queue", "RequestQueueIndex", "FormulaImportRequest", new { id = item.RequestId, productKeyList = "", sourceSystem = item.SourceSystem }, null)
            </td>
            <!--
            <td>
                @using (Html.BeginForm("RequestQueueExport", "FormulaImportRequest", new { id = item.RequestId, sourceSystem = item.SourceSystem }, FormMethod.Post, null))
                {
                    @Html.HiddenFor(modelItem => item.RequestId, new { id = "id" })
                    @Html.HiddenFor(modelItem => item.SourceSystem, new { SourceSystem = "SourceSystem" })
                    <a href="#" onclick="$(this).closest('form').submit()">Export Request Report</a>
                }
            </td>
            <td>
                @Html.ActionLink(
                    "Stage Request(Not Implemented!)",
                    "StageRequestQueue",
                    "FormulaImportRequest",
                    new { confirm = true, id = item.RequestId, SourceSystem=item.SourceSystem },
                    new { onclick = "return confirm('This process takes time to complete. Are you sure you want to continue?')" })


            </td>
            -->
            <td>
                @Html.ActionLink("View Request Activities", "RequestActivitiesIndex", "FormulaImportRequest", new { id = item.RequestId }, null)
            </td>
            <td>
                @Html.ActionLink(
                    "Delete Entire Request",
                    "DeleteAction",
                    "FormulaImportRequest",
                    new { confirm = true, id = item.RequestId, SourceSystem=item.SourceSystem },
                    new { onclick = "return confirm('Are you sure you want to delete this request?')" })
            </td>


            <!--
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RequestId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RequestId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RequestId })
            </td>
            -->
        </tr>
    }

</table>
