@model IEnumerable<SDS.SDSRequest.Models.FormulaImportRequestActivity>

@{
    ViewBag.Title = "RequestActivitiesIndex";
}

<h2>Request Activities</h2>

<p>
    @Html.ActionLink("Back to Requests", "Index", "FormulaImportRequest", null, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestId)
        </th>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.RequestStatusId)
        </th>
        -->
        <th>
            @Html.DisplayNameFor(model => model.ActivityMsg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestId)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.RequestStatusId)
            </td>
            -->
            <td>
                @Html.DisplayFor(modelItem => item.ActivityMsg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <!--
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ActivityId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ActivityId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ActivityId })
            </td>
            -->
        </tr>
    }

</table>
